.products {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	gap: 3rem;
}

// this is used in Switch Category
.product-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-white);
	box-shadow: 0px 7.20692px 14.4138px rgba(0, 0, 0, 0.04);

	&__text {
		display: flex;
		flex-direction: column;
		gap: 1.1rem;
		text-align: center;
		padding: 2.174rem 0;
	}

	&__title {
		font-size: 2.4rem;
		color: var(--color-neutral-black);
	}

	&__price {
		font-size: 1.6rem;
		color: var(--color-neutral-grey);
		opacity: .5;
	}
}

@media only screen and (min-width: 600px) {
	.products {
		display: grid;
		grid-template-columns: repeat(3,1fr);
	}
}

@media only screen and (min-width: 1024px) {
	.products {
		display: grid;
		grid-template-columns: repeat(4,1fr);
	}
}
