.account {
    display: flex;
    flex-direction: column;

    &__greeting {
        padding: 3rem 0;
        font-size: 3rem;
    }
}

@media only screen and (min-width: 768px) {
    .account {
        flex-direction: row;
        gap: 7rem;

        &__sidebar {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
        }

        &__greeting {
            padding: 3rem 0;
            font-size: 3.5rem;
        }

        &__heading {
            font-size: 1.6rem;
            color: var(--color-neutral-black);
        }
    }
}

@media only screen and (min-width: 1441px) {
    .account {
        flex-direction: row;
        gap: 14rem;

        &__sidebar {
            display: flex;
            flex-direction: column;
        }

        &__greeting {
            padding: 3rem 0;
            font-size: 6.5rem;
        }



        &__heading {
            font-size: 3.2rem;
        }
    }
}