.cart {
	display: flex;
	flex-direction: column;
}

.cart-item {
	display: flex;
	gap: 1rem;

	&__img {
		width: 10rem;
		height: auto;
	}

	&__content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: space-between;
		justify-items: end;
	}

	&__title {
		font-size: 2rem;
	}
}
