.checkout {
	display: grid;
	row-gap: 3rem;
	grid-template-columns: 1fr;
	grid-template-areas:
		"header"
		"address"
		"payment"
		"estimate"
		"complete";

	&__header {
		grid-area: header;
		padding: 3rem 1.6rem 0 1.6rem;
		font-size: 4.5rem;
	}

	&__address-container {
		grid-area: address;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 2.8rem 1.6rem;
		background-color: var(--color-secondary);
	}

	&__sub-header {
		text-align: center;
		font-size: 2.4rem;
	}

	&__address-form-row-double {
		display: flex;
		flex-direction: column;
	}

	&__address-form {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
	}

	&__address-form-container {
		display: flex;
		flex-direction: column;
		gap: 0.6rem;
	}

	&__address-form-label {
		font-size: 2rem;
		color: var(--color-neutral-black);
	}

	&__address-form-input {
		font-size: 2rem;
		padding: 1.7rem;
	}

	&__payment-container {
		grid-area: payment;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 2.8rem 1.6rem;
		background-color: var(--color-secondary);
	}

	&__payment-form-row-outer {
		display: flex;
		justify-content: space-between;
		// align-items: end;

		&--exp {
			gap: 0.6rem;
		}
	}

	// &__payment-form-row-double {
	//     display: flex;
	// }

	&__payment-form {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
		background-color: var(--color-neutral-grey);
		color: var(--color-secondary);
		padding: 2.6rem 2.1rem;
		border-radius: 25px;
	}

	&__payment-form-row {
		display: flex;
		flex-direction: column;
		gap: 0.6rem;
	}

	&__payment-form-label {
		font-size: 1.6rem;
	}

	&__payment-form-input {
		padding: 1.25rem;
		font-size: 1.9rem;
		background-color: var(--color-neutral-lightgrey);
		border: 1px solid var(--color-neutral-lightgrey);
		// color of the placeholder is #cacaca
		border-radius: 11px;

		&--exp {
			width: 6rem;
		}

		&--cvv {
			width: 7.5rem;
		}
	}

	&__payment-form-info-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&__payment-form-info {
		font-size: 1.6rem;
	}

	&__estimate-container {
		grid-area: estimate;
		display: flex;
		flex-direction: column;
		padding: 2.4rem 1.6rem 0 1.6rem;
	}

	&__complete-container {
		grid-area: complete;
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
		padding: 0 1.6rem 2.4rem 1.6rem;
	}

	&__purchase-terms {
		color: var(--color-neutral-lightgrey);
		font-size: 1.6rem;
	}

	&__purchase-terms-link {
		color: var(--color-neutral-black);
	}
}

@media only screen and (min-width: 768px) {
	.checkout {
		grid-template-columns: 1fr 1fr;
		column-gap: 2.3rem;
		grid-template-areas:
			"header header"
			"address estimate"
			"payment estimate"
			"complete estimate";

		&__address-form-row-double {
			flex-direction: row;
            gap: 2.3rem;

            &--reverse {
                flex-direction: row-reverse;
            }
		}

		&__estimate-container {
			height: fit-content;
			background-color: var(--color-secondary);
		}
	}
}
