.footer__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: auto auto; 
  grid-gap: 1rem; 
  grid-template-areas:
    ". company . support ." 
    ". logo logo logo ."; 
  background-color: var(--color-neutral-black);
  width: 100%; 
  padding: 1.6rem;
}

.footer__company-info {
  grid-area: company; 
}

.footer__support-info {
  grid-area: support; 
}
  
.footer__logo-container {
  grid-area: logo; 
  margin: 0 auto; 
}

.footer__company-title,
.footer__support-title {
  width: 137px;
  height: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-secondary);
}

.footer__company-link-text,
.footer__support-link-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  color: var(--color-secondary);
}

.footer__subscription-input{
  display: flex;
  width: 358px;
  height: 40px;
  left: 19px;
  bottom: 92.53px;
  background: #F9F9F9;
  opacity: 0.56;
}

.footer__subscription-button{
  position: absolute;
  left: 40rem;
  top: 31rem;
  background: #100f0f;
}

.footer__social-icons{
  display: flex;
  gap: 4rem;
  padding: 1rem;
}
