.gallery {
	width: auto;
	height: 100.9rem;
	left: 0rem;
	top: 0rem;
  background-color: #f8f8f8;
}

.carousel {
	width: 100%;
	max-width: 60rem;
	margin: 0 auto;
	padding: 2rem;
  padding-bottom: 4rem;
	display: none;
	background: #f8f8f8;
}

.carousel__image {
	width: 35.8rem;
	height: 53rem;
	object-fit: cover;
	display: block;
}

.carousel-images__title {
	position: relative;
	width: 18.4rem;
	height: 4.2rem;
	left: -0.1rem;
	top: -0.8rem;
	/* headlines/h5 */
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 3rem;
	line-height: 140%;
}

.laptop-images {
	display: flex;
	width: auto;
	height: 10.09rem;
	left: 0rem;
	top: 0rem;
	background: #f8f8f8;
}

.laptop-images__title {
	position: relative;
	width: 85.4rem;
	height: 7.7rem;
	left: 46rem;
	top: 25rem;

	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 5.5rem;
	line-height: 140%;
}

.laptop-images__image {
	position: relative;
	width: 100%;
	max-width: 30rem;
	height: auto;
	margin: 1rem;
}

.laptop-images__image--1 {
	order: 1;
	width: 43.2rem;
	height: 47rem;
	left: -34rem;
	top: 36.1rem;
}

.laptop-images__image--2 {
	order: 2;
	width: 57.1rem;
	height: 26rem;
	left: -30.9rem;
	top: 25.2rem;
}

.laptop-images__image--3 {
	order: 3;
	width: 57.2rem;
	height: 26rem;
	left: -63.3rem;
	top: 57.1rem;
}

.slick-dots li button:before {
  font-size: 1.8rem; 
  color: #D9D9D9
}

.slick-dots li.slick-active button:before {
  color: var(--color-primary);
}

@media screen and (max-width: 768px) {
	.gallery {
		height: 65.5rem;
	}

	.carousel {
		display: block;
	}

	.laptop-images {
		display: none;
	}
}
