.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: black;

    &__nav {
        display: flex;
        align-items: center;

        &--mobile {
            display: none;
        }

        &--desktop {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }

        &__nav-link {
        &--active {
            font-weight: bold;
        }
    }
  
        &__logo-group {
            display: flex;
    }
  
        &__middle-group {
            display: flex;
            gap: 10px;
            color: #ffffff;
            text-decoration: none;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 120%;
            background-color: #0aa967;
    }
  
        &__right-group {
            display: flex;
            gap: 10px;
            color: #ffffff;
            text-decoration: none;
        }

        &__middle-group a:hover,
        &__right-group a:hover {
        color: #0aa967; 
        }
} 

    @media (min-width: 768px) {
        .header {
        &__nav {
            &--mobile {
                display: none;
        }
  
        &--desktop {
            display: flex;
        }
    }
    }
}
  