.map-section {
	display: flex;
	flex-direction: column;
	align-items: center;
  padding-top: 10rem;
  padding-bottom: 6rem;
}

.map-section-info {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 20px;
}

.map-section-contact {
	display: flex;
	align-items: center;
}

.map-section-contact input {
	margin-right: 10px;
}

@media (max-width: 768px) {
	.map-section-info {
		flex-direction: column;
	}

	.map-section-text {
		margin-bottom: 20px;
	}
}
