@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.our-unique-features {
    display: flex;
    flex-direction: column;
    align-items: center;

		&__item {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 0px;
			gap: 20.72px;
			width: 347.26px;
			height: 82.82px;
		}
    
		.text-content {
			display: flex;
			flex-direction: column;
		}

		.our-unique-features__title {
      width: 218px;
      height: 42px;
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 27px;
		}

		.our-unique-features__description {
		  font-family: 'Poppins';
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 27px;
			/* identical to box height */
      color: #828282;
		}
}

	@media only screen and (min-width: 768px) {
	.our-unique-features {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;

		&__item {

			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 0px;
			gap: 20.72px;
			width: 39rem;
			height: 8.3rem;
			/* Inside auto layout */
			flex: none;
			order: 0;
			flex-grow: 0;

			img {
				margin-right: 1rem;
			}

			.text-content {
				display: flex;
				flex-direction: column;
			}

			.our-unique-features__title-shipping {
			
				width: auto;
				height: 41px;
				font-family: "Poppins", sans-serif;
				font-style: normal;
				font-weight: 100;
				font-size: 27.6315px;
				line-height: 41px;
				color: #081323;
				margin: 0.4rem;
			}

			.our-unique-features {

				width: auto;
				height: 26px;
				font-family: "Poppins", sans-serif;
				font-style: normal;
				font-weight: 100;
				font-size: 17.2697px;
				line-height: 26px;
				color: #828282;
				margin: 0.4rem;
			}
		}
}
}