* {
	box-sizing: border-box;
}

.video-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	padding: 7rem;
  background-color: #f8f8f8;
}

.video-section__content {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	flex-wrap: wrap;
	margin-bottom: 16px;
}

.video-section__title {
	width: 455.98px;
	height: 163px;
	left: calc(50% - 455.98px / 2 - 453.01px);
	top: 1358px;

	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 65px;
	line-height: 140%;
	margin: 0;
}

.video-section__description {
	width: 531.98px;
	height: 100px;
	left: calc(50% - 531.98px / 2 + 313.01px);
	top: 1385px;

	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 33px;
	margin: 0;
}

.video-section__video-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
}

.video-section__video {
	transform: matrix(1, -0.06, 0, 1, 0, 0);
}

@media (max-width: 767px) {
	.video-section__content {
		flex-direction: column;
	}
}
