* {
	box-sizing: border-box;
}

.video-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	padding: 9rem;
  background-color: #f8f8f8;
}

.video-section__content {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.6rem;
	flex-wrap: wrap;
	margin-bottom: 1.6rem;
}

.video-section__title {
	width: 45.598rem;
	height: 16.3rem;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 6.5rem;
	line-height: 140%;
	margin: 0;
}

.video-section__description {
	width: 52.6rem;
	height: 10rem;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 2.2rem;
	line-height: 3.3rem;
	padding-left: 4rem;
}

.video-section__video-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
}

.video-section__video {
  padding-top: 3rem;
	transform: matrix(1, -0.06, 0, 1, 0, 0);
}

@media (max-width: 767px) {
	.video-section__content {
		flex-direction: column;
	}
}
