.why-choose-us-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem 4rem;
}

.company-icons {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

.middle-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.middle-section__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.middle-section__image {
	width: 50%;
	object-fit: cover;
}

.middle-section__title-text {
	width: 50%;
}

.bottom-section {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
}

.bottom-section__title-text {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 767px) {
	.company-icons {
		padding-bottom: 5rem;
		gap: 1rem;
	}
	.middle-section__content {
		flex-direction: column;
	}

	.middle-section__image {
		padding-bottom: 3rem;
	}

	.middle-section__title {
		padding-bottom: 1rem;
    text-align: center;
	}

	.middle-section__text {
		font-weight: 400;
	}

	.middle-section__link {
		padding: 1rem;
		font-family: "Poppins";
		font-style: normal;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 2.7rem;
		text-decoration-line: underline;
	}

	.middle-section__image,
	.middle-section__title-text {
		width: 100%;
	}

	.bottom-section__title-text {
		text-align: left;
		width: 100%;
		margin-bottom: 2rem;
	}

	.bottom-section__title {
		text-align: left;
		padding-bottom: 1rem;
	}

	.bottom-section__text {
		font-weight: 400;
	}
}
