.mobile {
	display: flex;
}

.desktop {
	display: none !important;
}

.pointer {
	cursor: pointer;
}

.align-items-start {
	align-items: start;
}

.align-items-end {
	align-items: end;
}

.error {
	color: red;
	font-size: 2rem;
}

@media only screen and (min-width: 768px) {
	.mobile {
		display: none !important;
	}

	.desktop {
		display: flex !important;
	}
}
