.mobile {
    display: flex;
}

.desktop {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }
}