@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.our-unique-features {
  display: flex;
  justify-content: space-between;

  &__item {
    display: flex;
    align-items: center;

    img {
      margin-right: 1rem;
    }

    .feature-title {
      width: auto;
      height: 41px;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 27.6315px;
      line-height: 41px;
      color: #081323;
      margin: 0;
      background-color: aqua;
    }

    .feature-description {
      width: auto;
      height: 26px;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 137.2697px;
      line-height: 26px;
      color: #828282;
      margin: 0;
    }
  }

  .our-unique-features__item:nth-child(1) {
    .feature-title {
      width: 203px;
    }

    .feature-description {
      width: 242px;
    }
  }

  .our-unique-features__item:nth-child(2) {
    .feature-title {
      width: 215px;
    }

    .feature-description {
      width: 192px;
    }
  }

  .our-unique-features__item:nth-child(3) {
    .feature-title {
      width: 182px;
    }

    .feature-description {
      width: 124px;
    }
  }
}
