:root {
    --color-primary: #EB4C56;
    --color-secondary: #F9F9F9;
    --color-white: #FFF;
    --color-neutral-black: #1B1A1F;
    --color-neutral-grey: #4F4F4F;
    --color-neutral-lightgrey: #8E8E8E;
}